body{
    /*height: 100vh;
    width: 100vw;*/
    margin: 0;
    background-image: url(./Imagem\ fundo.png);
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-size: 100%;
    height: 1000px;
}

.box {
    align-self: center;
    height: calc(30%);
    width: 100%;
    margin: 0;
    background-color: black;
    position: center;
}

.text{
    
}
