*{
    margin: 0 auto;
    width: 300px;
}

/*definir as propriedades da página inteira*/
body{
    background-color: #FAF7FD;
    border: #BB99DD;
    font-family: 'Poppins', sans-serif;
    font-weight: 300px 600px;
}

/*definir as propriedades da img*/
.perfil img{
    border: solid #BB99DD 3px;
    padding: 3px;
    width: 200px;
    border-radius: 106px;
    float: right;
    right: 44px;
    position: relative;
    top: 50px;
}

/*definir as propriedades do instagram*/
.inst{
    position: relative;
    color: #BB99DD;
    float: right;
    margin: 20px;
    left: 87px;
    top: 50px;
}

.inst p{
    color: #BB99DD;
    font-weight: bold;
}

/*definir as propriedades dos links*/
#link{
    border: #BB99DD;
    position: relative; 
    float: left;
    top: 50px;
}

#link .linkperfil a{
    color: #BB99DD;
    font-weight: bold;
}

#link .linkperfil button{
    color: #BB99DD;
    font-weight: bold;
    background-color: #FAF7FD;
    border-color: #BB99DD;
    padding: 4%;
}

/*definir as propriedades dos icones*/
.icon{
    width:10%; 
    position: relative; 
    float: left; 
    padding: 3%;
    left: 33px;
    top: 50px;
    /*top: 5%;*/
    /*min-height: 400px;*/
}

.icon img{
    width: 25px;
}

/*.perfil{
    border: solid #BB99DD;
    height: 306px;
    width: 276px;
    border-radius: 135px;
    float: right;
    position: relative;

.perfil{
    border: solid #BB99DD;
    border-radius: 120px;
    float: right;
}

#link .linkperfil{
    border: #BB99DD;
    top: 50px;
}
}*/