/**{
    font-family: 'Roboto Condensed', sans-serif;
    font-variant: small-caps;
    font-size: medium;
    line-height: 1.5;
    text-align: center;
}

h1 {
    color: rgb(247, 81, 219);
    font-size: 60px;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: oblique;
}

p{
    text-decoration: overline underline;
    text-shadow: 1px 1px 1px rgb(247, 81, 219);
}*/

*{margin: 0; padding: 0;}

/**/
.container-principal{font-family: 'Verdana'; color: #777;}

/*definir as propriedades do topo*/
header{width: 100%; height: 100px; background-color: #000FFF;}

/*definir as propriedades da logo*/
.logo{position: absolute; width: 100px; height: auto;}
.logo img{width: 90%; margin-left: 10%;}

/*definir as propriedade do menu*/
nav {position: absolute; right: 30px; top: 0px}
nav ul li {float: left; color: #000FFF; width: auto; margin: 0.8em; font-size: 1.5em; font-family: verdana; list-style: none;}
nav ul li a {text-decoration: none; color: #bbb}
nav ul li a:hover{color: #b13030;}

/*definir as propriedade da imagem principal*/
#banner{width:100%;}
#banner img{width: 100%; margin-bottom: 0;}

/*definir as propriedade dos pop'ups*/
.modalDialog{
    position: fixed;
    font-family: verdana;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(181, 9, 9, 0.8);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: none;
}

.modalDialog:target{
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.modalDialog div{
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 10px;
    background-color: #fff;
}

.modalDialog p {
    margin-top: 5%;
    margin-bottom: 5%;
}

.modalDialog img {
    width: 50%;
    position: relative;
    margin-left: 25%;
}

.close {
    background-color: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.close :hover{
    background-color: #b50909;
}

footer{
    width: 100%; 
    height: 18%; 
    background-color:
    #b50909; color: 
    #fff; 
    position: relative; 
    float: left; 
    font-family: 'verdana';
}

/*definir as propriedades do footer (rodapé)*/
footer .footer-text{
    width: 30%;
    margin: 1%;
    position: relative;
    float: left;
}

footer .footer-text a{
    color:#fff;
}